      /* Reset styles */
        body, html {
         background-image: url('Hero.jpg');
         margin: 0;
         padding: 0;
         font-family:monospace;
         font-size: 25px;
         background-size: cover;
         overflow-x: hidden;
        }
    

      /* Navigation Bar */
        nav {
         background-image: url(About.jpg);
         border: 10px solid rgb(0, 0, 0);
         border-top: none;
         border-left: none;
         border-right: none;
         border-radius: 0px;
         padding: 15px;
        }

        nav ul {
         list-style-type: none;
         margin: 0;
         padding: 25px;
        }

        nav ul li {
         display: inline;
         border-radius: 10px;
         border:5px solid #2e0606;
         margin-right: 30px;
        }

        nav ul li a {
         color: rgb(207, 207, 207);
         text-decoration: none;
         transition: 0.5s;
        }

        nav ul li a:hover {
         border-radius: 10px;
         color: rgb(185, 0, 12);
        }   
    
              
      /* Style for Hero Section */
        .hero {
         background-image: url('Hero.jpg');
         background-size: cover;
         background-repeat: no-repeat;
         color: #dadada;
         padding: 50px;
         text-align: center;
         font-size: 60px;
         font-style: Bold;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }


      /* Style for About Me Section */
        .about {  
         color: #ffffff;
         margin: 40px;
         padding: 80px;
        }


      /* Style for "WHAT YOU SHOULD KNOW" Section*/
        .what{
         background-color: #750f0f;
        }


      /* Background Image of "My" Picture*/
        .Me{
         background-image: url(My.jpg);
         text-align: center;
        }
         
        
      /* Style for "My" Picture Container*/
        .Me-container{
         display: flex;
         justify-content: center;
        }


      /* Background Image of about-content*/
        .Below{
         background-image: url(About.jpg);
         height: auto;
        }


      /* Style for about-content*/
        .about-content{
         font-size: 40px;
        }


      /* Style for Skill Category */
        .skill-category {
         margin-bottom: 20px;
        }


      /* Style for the progress bar container */
        .progress-container {
         width: 100%;
         background-color: #f0f0f0;
         border-radius: 5px;
        } 

          
      /* Style for Progress Bar */
       .progress-bar {
         height: 20px;
         border-radius: 5px;
         background-color: #4caf50;
        } 
         

      /* Style for Footer*/
        .footer {
         background-image: url(Pop.jpg);
         background-size: cover;
         color: #ffffff;
         padding: 2px;
         text-align: center;
         border-top: 10px solid #000000;
        }
        

      /* Style for Footer Content*/
        .footer-content {
         display: flex;
         justify-content: center;
        }
        

      /* Style for Footer Text */
       .icon-text {
        margin: 0 20px;
        }
      
       .icon-text a {
        display: inline-block;
        margin-top: 5px;
        border: 5px solid #000000;
        border-radius: 20px;
        padding: 5px 10px;
        text-decoration: none;
        color: #000000a8;
        }
      
       .icon-text a:hover {
        background-color: #757575;
        }
      
        
      /* Style for copyright text */
       .copyright {
        margin-top: 20px;
        font-size: 14px;
        } 
      

      /* Media Queries */
       @media only screen and (max-width: 768px) {
       /* Styles for screens up to 768px wide (tablets and smaller) */
       .hero {
       padding: 30px;
       font-size: 40px;
       }

       .about {
       padding: 40px;
       }

       .about-content{
       font-size: 20px;
       }

       nav ul li {
       width: 25%;
       margin-right: 0; 
       margin-bottom: 10px; 
       display: block; 
       white-space: normal; 
       overflow: visible; 
      }
}


      @media only screen and (max-width: 480px) {
      /* Styles for screens up to 480px wide (phones) */
       body, html {
       font-size: 18px;
      }

      .hero {
       padding: 20px;
       font-size: 30px;
      }

      .about {
       padding: 20px;
      }

      .about-content{
       font-size: auto;
      }

      nav ul li {
       width: 30%;
       margin-right: 0;
       margin-bottom: 10px; 
       display: block; 
       white-space: normal; 
       overflow: visible; 
      }

     .Me-container{
        display: flex;
        justify-content: center;
        width: auto; 
        height: 150px; 
       }
}

      

   